<template name="questionList">
	<div class="container-fluid">
		<div class="col-lg-1">
			<button id="backButton" class="btn btn-primary btn-flat">
				<i class="mdi-navigation-arrow-back"></i>
				<div class="ripple-wrapper"></div>
			</button>
		</div>
		<div class="col-lg-11">
			<h3>{{chapter.title}} - Fragekatalog</h3>
		</div>
	</div>
	<ul class="chapters-list list-group">
		<li class="list-group-item list-group-item-heading">
			<div class="col-lg-10">
				<span class="simptip-position-top" data-tooltip="Frage">
					<i class="mdi-action-assignment"></i>
				</span>
				</div>
			<div class="col-lg-1">
				<span class="simptip-position-top" data-tooltip="Status">
					<i class="mdi-action-done"></i>
				</span>
			</div>
		</li>
	{{#each questions}}
		<li class="list-group-item">
			<div class="col-lg-10">{{question}}</div>
			<div class="col-lg-1"><i class="mdi-action-done mdi-material-green"></i></div>
		</li>
	{{/each}}
	</ul>
	<button id="addQuestion" type="button" class="btn btn-success btn-flat">Frage hinzufügen</button>
</template>