<template name="login">
    <form class="form-signin text-center" role="form" style="width:350px;float:none;margin:0 auto;">
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
    </form>
    <div class="text-center" style="width:350px;float:none;margin:0 auto;">
        <button id="backToStart" class="btn btn-lg btn-primary btn-block" type="button">Back</button>
    </div>
</template>